  authservice:
    image: nvr333/mynewapp:authimg
    container_name: NVR_auth_service
    environment:
      DB_HOST: dbservice
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: digital_library
    ports:
      - "5001:5001"
    networks:
      - nvr_net
    depends_on:
      - dbservice
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/"]  # adjust path if needed
      interval: 10s
      timeout: 5s
      retries: 5

  appservice:
    image: nvr333/mynewapp:appimg
    container_name: NVR_app_service
    environment:
      AUTH_URL: http://authservice:5001
    ports:
      - "5000:5000"
    networks:
      - nvr_net
    depends_on:
      authservice:
        condition: service_healthy
      - bookservice
      - borrowservice
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
