version: "3.8"

services:
  NVR_dbservice:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: digital_library
    ports:
      - "3306:3306"
    networks:
      - nvr-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  auth_service:
    image: nvr333/mynewapp:authimg
    environment:
      DB_HOST: NVR_dbservice
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: digital_library
    ports:
      - "5001:5001"
    networks:
      - nvr-network
    depends_on:
      - NVR_dbservice
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  app_service:
    image: nvr333/mynewapp:appimg
    environment:
      AUTH_URL: http://auth_service:5001
    ports:
      - "5000:5000"
    networks:
      - nvr-network
    depends_on:
      - auth_service
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

networks:
  nvr-network:
    driver: overlay
