version: "3.9"

networks:
  mynet:
    driver: overlay

services:
  dbservice:
    image: nvr333/mynewapp:dbimg
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: digital_library
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    networks:
      - mynet
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  authservice:
    image: nvr333/mynewapp:authimg
    ports:
      - "5001:5001"
    environment:
      DB_HOST: dbservice
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: digital_library
    networks:
      - mynet
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  bookservice:
    image: nvr333/mynewapp:bookimg
    ports:
      - "5002:5002"
    networks:
      - mynet
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  borrowservice:
    image: nvr333/mynewapp:borrowimg
    ports:
      - "5003:5003"
    networks:
      - mynet
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  appservice:
    image: nvr333/mynewapp:appimg
    ports:
      - "5000:5000"
    environment:
      AUTH_URL: http://authservice:5001
    networks:
      - mynet
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
